/*=======Google-Font========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/*======== Cutom-Color-Varriable ======*/
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --hover-color:#e29d26;
    --link-color: #000;
    --extra-bg: #363636;
  }

  body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
  }
  .page-title{
    border-bottom: 2px solid #000;
    display: inline-block;
    justify-content: center;
    line-height: 46px;
  }
/*========= Header-Section =========*/
.header-section{
background: #363636;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 10px -10px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-section .logo-col img{
    max-width: 100px;
}
.header-section .navbar-nav{
    column-gap: 25px;
}
.header-section .row li a{  
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: 0.4s;
}
.header-section .row li a:hover{
    color: var(--hover-color);
    box-shadow: rgb(227, 155, 39) 0px 10px 10px -10px;
}
.header-section .row .btn-col {
    column-gap: 10px;
    padding: 0;
}
.header-section .row .btn-col button{
    font-size: 14px;
    font-weight: 700;
    border:1px solid;
    border-color: var(--secondary-color);
    border-radius: 5px;
    padding: 8px 10px;
    color: var(--secondary-color);
    width: 230px;
    background: transparent;
    transition: 0.4s;
}
.header-section .row .btn-col button:hover{
    color: var(--hover-color);
    border-color: var(--hover-color);
}
/*======== Hero-Section-style ==========*/
.carousel-fade-container {
    position: relative;
  }
.carousel-inner{
    opacity: .5;
}
.carousel-fade {
    background-color: black; /* Set the background color */
  }

  .carousel-fade .carousel-item {
    transition: opacity 2s ease-in-out;
    opacity: 0.5;
  }

  .carousel-fade .carousel-item.active {
    opacity:1;
  }

  .carousel-inner img {
    width: 100%;
    height: calc(100vh - 70px);
    opacity: 0.8;
    object-fit: cover;
  }
  .carousel-content{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: #00000070;
  }
  .scorll-down a{
    color:var(--secondary-color);
    border: 1px solid;
    border-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
  }
  .scorll-down a:hover{
    border-color: var(--hover-color);
  }
  .carousel-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
    font-size: 48px;
    line-height: 55px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .hero-section .carousel-buttons {
    display: flex;
    column-gap: 20px;
    justify-content: center;
  }
  .hero-section .carousel-buttons .btn{
    font-size: 19px;
    font-weight: 600;
    padding: 8px 15px;
    background: transparent;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    min-width: 150px;
    transition: 0.4s;
  }
  .hero-section .carousel-buttons .btn:hover{
    color: var(--hover-color);
    border-color: var(--hover-color);
  }
  /*======= Counter-Section ===========*/
  .counter-section .container{
    padding: 50px 0;
    margin-top: 0 !important;
  }
  .counter-section .row{
    column-gap: 25px;
  } 
  .counter-section .row .col-md-3 img{
    width: 60px;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.4s;
  }
  .counter-section .row .col-md-3:hover img{
    transform: scale(1.06);
  }
  .counter-section .row .col-md-3{
    border-color: var(--primary-color);
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 0.4s;
  }
  .counter-section .row .col-md-3:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px 1px, rgba(146, 116, 116, 0.08) 5px 1px 2px inset;  
}
  .counter-section .row .col-md-3 .counter{
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
  }
  .counter-section .row .col-md-3 h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    color: var(--primary-color);
  }
/*=======Support-Secton-Style ===========*/
.support-section .title{
    font-size: 30px;
    line-height: 37px;
}
.support-section .title a{
    text-decoration: none;
    transition: 0.4s;
}
.support-section .title:first-child{
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.support-section .title a:hover{
    color: var(--hover-color);
}
.support-section .btn-col a{
    text-decoration: none;
    color: var(--link-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    border: 1px solid;
    border-color: var(--link-color);
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    transition: 0.4s;
    border-radius: 3px;
}
.support-section .btn-col a i{
    margin-right: 10px;
}
.support-section .btn-col .reg{
    background: var(--hover-color);
    color: var(--secondary-color);
    border-color: var(--hover-color);
    margin-right: 15px;
}
.support-section .btn-col .reg:hover{
    background: transparent;
    color: var(--link-color);
    border-color: var(--link-color);
} 
.support-section .btn-col .call:hover{
    background: var(--hover-color);
    color: var(--secondary-color);
    border-color: var(--hover-color)
}   
/*======categori-sect{ion-style =======*/
.categori-section .col-3{
    background-image: url("../img/cat-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.categori-section .single-col{
    background: #000000a8;
    height: 100%;
    width: 100%;
    padding: 40px 10px !important;
}
.categori-section .title-row h2{
    font-size: 30px;
    color: var(--primary-color);
}
.categori-section .title-row h3{
    font-size: 16px;
    margin-bottom: 40px;
    color: var(--primary-color);
}
.categori-section .col-3{
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 0.4s;
    background-color: #00000008;
    width: 23.6%;
}
.categori-section .col-3:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px 1px, rgba(146, 116, 116, 0.08) 5px 1px 2px inset;  
}
.categori-section .col-3:hover h3{
    color: #00000070;
}
.categori-section img{
    width: 100%;
    max-width: 80px;
}
.categori-section .col-3 h3{
    font-size: 22px;
    line-height: 29px;
    color: #fff !important;
    margin-top: 15px;
}
.categori-section .row{
    gap: 20px;
    margin: 0 auto;
}
.categori-section .row a{
    text-decoration: none;
    max-width: 50%;
    padding: 0;
}
.categori-section .hover-flip{
    display: none;
}
.categori-section .col-3:hover .hover-flip{
    display: inline-block;
}
/*========= Review-Slider-Style =========*/
.review-section .slider .slick-track{
    column-gap: 30px;
    display: flex;
}
.review-section .slider .text-center{
    border: 1px solid #000;
    padding: 20px 30px;
}
.review-section .slider h2{
    font-size: 24px;
    line-height: 29px;
    font-style: italic;
    color: var(--primary-color);
}
.review-section .slider h3{
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    color: #00000073;
}
.review-section .slider p{
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
}
/*********Find Tutor page ***********/
.tutor-list-section .form-col{
    position: sticky;
    top: 20%;
}
.tutor-list-section .tutor-filter .filter-title{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    color: var(--primary-color);
    background: #00000014;
}
.tutor-list-section .tutor-filter{
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding:15px 10px;
}
.tutor-list-section .tutor-filter select {
	width: 100%;
	outline: none;
	border-radius: 0px;
	border-color: #e29d26;
}
.tutor-list-section .tutor-filter select:focus{
    box-shadow: none;
}
.tutor-list-section .tutor-filter input[type="submit"]{
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    border: 1px solid;
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    transition: 0.4s;
}
.tutor-list-section .tutor-filter input[type="submit"]:hover{
    color: var(--hover-color);
    border: 1px solid;
    border-color: var(--hover-color);
    background-color: transparent;
}
.tutor-list-section .teacher-list{
    column-gap: 11px;
    row-gap: 30px;
}
.tutor-list-section .teacher-list .col-4 img{
    max-width: 160px;
    border-radius: 50%;
    height: 160px;
    object-fit: cover;
    transition: 0.4s;
    border: 1px solid;
}
.tutor-list-section .teacher-list .col-4{
    transition: 0.4s;
}
.tutor-list-section .teacher-list .col-4:hover{
    border: 1px solid !important;
    border-color: var(--hover-color) !important;
}
.tutor-list-section .teacher-list .col-4:hover img{
    transform: scale(1.05);
    border-color: var(--hover-color);
}
.tutor-list-section .teacher-list .col-4{
    width: 32.333%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    padding: 20px 10px !important;
}
.tutor-list-section .teacher-list .col-4 h2{
        font-size: 22px;
}
.tutor-list-section .teacher-list .col-4 h3{
    font-size: 16px;
    line-height: 18px;
    color: #00000082;
}
.tutor-list-section .teacher-list .col-4 p{
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
}
.tutor-list-section .teacher-list .col-4 a{
    font-size: 18px;
    background: var(--hover-color);
    width: 100%;
    transition: 0.4s;
}
.tutor-list-section .teacher-list .col-4 a:hover{
    background: transparent;
    border: 1px solid;
    border-color: var(--hover-color);
    color: var(--hover-color);
}
/******* Tutor-Profile-Section *******8*/
.tutor-profile-section .form-row {
    column-gap: 20px;
}
.tutor-profile-section .form-row .left-col{
    width: 73%;
}
.tutor-profile-section .form-row .left-col img{
    max-width: 160px;
  border-radius: 50%;
  height: 160px;
  object-fit: cover;
}
.tutor-profile-section .form-row .left-col span{
    font-size: 14px;
}
.tutor-profile-section .form-row .left-col .jssocials-share-link{
    color: var(--primary-color);
}
.tutor-profile-section .form-row .left-col .jssocials-share-logo::before {
	font-size: 14px;
	padding: 6px 9px;
	border-radius: 50%;
	line-height: 39px;
	display: inline;
	border: 1px solid #000;
    transition: 0.4s;
}
.tutor-profile-section .form-row .left-col .jssocials-share-link:hover .jssocials-share-logo::before {
    color: red;
    border-color: var(--hover-color);
}
.tutor-profile-section .form-row .left-col .jssocials-shares{
    display: flex;
    margin: 0 auto;
}
.tutor-profile-section .form-row .left-col .fa-envelope::before {
	padding: 6px 7px !important;
}
.tutor-profile-section .form-row .left-col .fa-phone::before{
    padding: 6px 6px !important;
}
.tutor-profile-section .card .card-body .form-group input, .card .card-body .form-group textarea{
    margin: 5px 0 10px 0;
}
.tutor-profile-section .card .card-body .form-group input:focus{
    box-shadow: none;
    border-color: var(--hover-color);
}
.tutor-profile-section .card .card-body .form-group textarea:focus{
    box-shadow: none;
    border-color: var(--hover-color);
}
.tutor-profile-section .card{
    position: sticky;
    top: 20%;
}
.tutor-profile-section .card .tuition-info{
    background: #00000014;
    padding: 8px 0;
    margin: 20px;
}
.tutor-profile-section .card .card-body .btn{
    width: 100%;
    background-color: #e29d26;
    transition: .4s;
}
.tutor-profile-section .card .card-body .btn:hover{
    background-color: transparent;
    border: 1px solid;
    border-color: var(--hover-color);
    color: var(--hover-color);
}
.education table thead tr th{
    white-space: nowrap;
    background: #00000014;
}
/*========Footer-style =========*/
.footer-section{
    background: var(--extra-bg);
    padding: 40px 0;
    padding-bottom: 0;
}
.footer-section .logo img{
    max-width: 140px;
}
.footer-section .row p{
    font-size: 15px;
    line-height: 22px;
    color: var(--secondary-color);
}
.footer-section .contact-info a{
    color: var(--secondary-color);
    transition: 0.4s;
    border-bottom: 1px solid;
    border-color: var(--secondary-color);
}
.footer-section .contact-info a:hover{
    color: var(--hover-color);
    opacity: 1;
    border-color: var(--hover-color);
}
.footer-section .social-link{
    padding: 20px 0;
}
.footer-section .social-link a i{
    font-weight: 400;
    font-size: 17px;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    line-height: 17px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 5px;
    transition: 0.4s;
}
.footer-section .social-link a i:hover{
    color: var(--hover-color);
}
.footer-section .row h3{
    color: var(--secondary-color);
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-section .row ul {
    padding-left: 0;
}
.footer-section .row ul li{
    list-style: none;
}
.footer-section .row ul li a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--secondary-color);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.4s;
}
.footer-section .row ul li a:hover{
    color: var(--hover-color);
    box-shadow: rgb(227, 155, 39) 0px 3px 5px -2px;
}
.footer-section .socket p{
    padding: 20px;
}
.footer-section .socket p a{
    color: var(--secondary-color);
    transition: 0.4s;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: var(--secondary-color);
}
.footer-section .socket p a:hover{
    color: var(--hover-color);
    border-color: var(--hover-color);
}

/*=========Responsive-Design ========*/
@media only screen and (max-width: 767px) {
    .tutor-profile-section .form-row .left-col {
        width: 100%;
    }
  }
  @media only screen and (max-width: 520px) {
    .tutor-profile-section .tutor-details .parsonal h6, 
    .tutor-profile-section .tutor-details .parsonal strong, 
    .tutor-profile-section .tution-details strong,
    .tutor-profile-section .tution-details div,
    .tutor-profile-section .card-body form .form-group{
        font-size: 14px;
        line-height: 18px;
        margin-top: 5px;
    }
    .tutor-profile-section .card .tuition-info{
        font-size: 20px;
    }
    .tutor-profile-section .education h4{
        font-size: 20px;
    }
    .tutor-profile-section tbody, td, tfoot, th, thead, tr{
        font-size: 14px;
    }
  }